@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    color: black;
}

.snackbar {
    background-color: rgba(40, 245, 13, 0.945);
    font-weight: 700;
    color: rgb(59, 56, 56);
    width: 15vw;
    height: 8vh;
 }

.mat-dialog-title {
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.dialog-background {
    background-color: rgba(0, 0, 0, 0.8);
}