<mat-toolbar>
  <mat-toolbar-row class="row">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md class="row">
      <div fxLayout="row" fxLayoutGap="60px">
        <a routerLink="" class="link link--white">NBA Stats</a>
        <a routerLink="/players" routerLinkActive="active" class="link link--white">Players</a>
        <a routerLink="/teams" routerLinkActive="active" class="link link--white">Teams</a>
      </div>
      <div class="nav-account" fxHide.lt-md>
        <button *ngIf="isAuthenticated()" mat-button [matMenuTriggerFor]="menu" class="username">{{ user }}</button>
        <mat-menu #menu="matMenu">
          <a routerLink="main/admin" class="link"><button *ngIf="isAdmin()" mat-menu-item>Admin</button></a>
          <a routerLink="settings" class="link"><button mat-menu-item>Settings</button></a>
          <a routerLink="/" (click)="logout()" class="link"><button mat-menu-item>Logout</button></a>
        </mat-menu>
        <span *ngIf="isAuthenticated()">{{ user_credits || '0' }}&#36;</span>
        <div *ngIf="!isAuthenticated()">
          <span (click)="openDialog()" class="link link--white">Login</span>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
