.active, .link:hover {
    color: #ffbb33;
    text-decoration: none;
}

mat-toolbar {
    background-color: transparent;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
}

mat-toolbar-row {
    padding: 0 0;
}

.username {
    font-size: 30px;
}

.row {
    width: 100%;
}

.link {
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    transition: all .5s;

    &:hover {
        transform: scale(1.2);
    }

    &--white {
        color: white;
    }
}

.link:first-child {
    font-size: 40px;
}

.nav-account {
    font-size: 30px;
    color: white;
}

.account-name {
    margin-right: 20px;
}