<div class="matchlist-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-footer">
    <form #form="ngForm">
      <mat-form-field *ngFor="let filter of namesToFilter" class="filter">
        <input matInput [placeholder]="filter | titlecase" ngModel [name]="filter">
      </mat-form-field>
    </form>
    <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>
  <div class="mat-elevation-z8 elem-list" [ngClass]="{'dark-shadow': isLoading}">
    <mat-spinner *ngIf="isLoading" class="loading-shade"></mat-spinner>
    <mat-list matSort matSort matSortDisableClear matSortDirection="desc">
    <mat-list-item class="list" *ngFor="let obj of data" (click)="onRowClicked(obj)" style="cursor: pointer">
      <mat-icon matListIcon>public</mat-icon>
      <h3 matLine> {{obj.team_host}} vs {{obj.team_visitor}} </h3>
      <p matLine>
        <span> <b>{{obj.date}}</b> - {{obj.season}}'s {{obj.season_type}} </span>
      </p>
    </mat-list-item>
    </mat-list>
  </div>
</div>
