
<form (submit)="onSubmit()" class="login-form">
  <h1 mat-dialog-title>Sign in</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="username">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="password">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="redirectToRegistration()">Sign up</button>
    <button mat-button cdkFocusInitial>Sign in</button>
  </div>
</form>