a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.sidenav {
    width: 60%;
    overflow: hidden;

    &__header {
        font-weight: 700;
    }
    
    &__bottom-list {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: 700;
    }
}

mat-sidenav-content {
    min-height: 100vh;
}
