<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport fixedTopGap fixedBottomGap>
    <div class="sidenav__header" fxLayout="row" fxLayoutAlign="space-around center">
      <p class="username">{{user || 'Unknown user'}}</p>
      <p *ngIf="isAuthenticated()">Credits: {{user_credits || '0'}}</p>
    </div>
    <mat-nav-list class="sidenav__top-list">
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="" class="link link--white">Dashboard</a>
      <a mat-list-item routerLink="/players" routerLinkActive="active" class="link link--white" (click)="sidenav.toggle()">Players</a>
      <a mat-list-item routerLink="/teams" routerLinkActive="active" class="link link--white" (click)="sidenav.toggle()">Teams</a>
    </mat-nav-list>
    <mat-nav-list class="sidenav__bottom-list">
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="isAdmin()" routerLink="main/admin" class="link">Admin</a>
      <a mat-list-item *ngIf="isAuthenticated()" routerLink="settings" class="link">Settings</a>
      <a mat-list-item *ngIf="isAuthenticated()" routerLink="/" (click)="logout()" class="link">Logout</a>
      <a mat-list-item *ngIf="!isAuthenticated()" (click)="openDialog()" class="link link--white">Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
