<div class="container">
  <mat-list>
    <mat-list-item>
      <button mat-button class="btn">Change password</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button class="btn">Change username</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button class="btn">Change email</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button class="btn">Charge money</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button class="btn">Withdraw money</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button class="btn">Change your types</button>
    </mat-list-item>
      
  </mat-list>
</div>