<div class="table">
  <table mat-table [dataSource]="toDisplay" class="mat-elevation-z8">

    <ng-container matColumnDef="stats">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="stats"> {{element.stats}} </td>
    </ng-container>

    <ng-container matColumnDef="teamHost">
      <th mat-header-cell *matHeaderCellDef> {{teamHost}} </th>
      <td mat-cell *matCellDef="let element" class="team"> {{element.hostStats}} </td>
    </ng-container>

    <ng-container matColumnDef="teamVisitor">
      <th mat-header-cell *matHeaderCellDef> {{teamVisitor}} </th>
      <td mat-cell *matCellDef="let element" class="team"> {{element.visitorStats}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" font-sizeclass="header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
